<a href="https://colab.research.google.com/github/CarolineAndradeR/Python/blob/master/Associa%C3%A7%C3%A3o_Correla%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Conceito**

O conceito é norteado tanto a respeito da associação e da correlação é a definição de Independência.

Condicionalidade e inceoendência são conceitos complementares, dada a existência de duas variáveis X e Y, e cada uma é independente uma da outra, caso os possíveis valores observados em X não afetem as probabilidades que serão observados em Y.

Caso ocorram as probabilides P(Y|X) diferente de P(Y), percebemos que X e Y possuem alguma relação de codependência porque de alguma forma X pode interferir nas probabilidades de Y. Mas ainda não podemos afirma que X causa Y.
Pode existir uma associação entre duas variáveis (X e Y), mas não necessariamente podemos induzir que X causa Y.

**Associação** - Uma variável X fornece para entender o comportamento de uma outa variável de Y, os coeficientes de associação podem ser medidos para relações tanyo lineares quanto não lineares nos dados.

**Correlação** - Mede a força e direçãi do relamento linear entre duas variáveis. Os pricipais índices que medem a correlação possuem uma escala que pode variar entre -1 e 1.
1 - Completa correlação positiva;
0 -  Nenhuma correlação (nula);
-1 - Completa correlação negativa;

**Coeficientes de Associação e Correlação**

São utilizados de forma diferente, nas medidas de associação o principal uso ocorre quando buscamos analisar duas variáveis em escala nominal ou ordinal. A correlação, ocorre quando temos duas variáveis em escola intervalar ou razão.

**Coeficientes de associação**
Principais medidas de associação e o teste de hipótese: Coeficiente Phi, V de Cramer e o teste de Qui-Quadrade.
Quando temos que analisar uma variável qualitativa com outra qualitativa, utilizamos tabelas de associação, tabelas de contigência ou tabelas cruzadas.

O coeficiente Phi tem o objetivo de medir a correlação ente duas variáveis nominais e dicotômicas (sucesso/fracasso, masculino/feminino).Retorna valores entre 0 e 1, onde 0 é ausência de associação e 1 completa associação entre duas variáveis.

V de Cramer permite usar as tabelas cruzadas podem ter R linhas e C colunas, nessa medida, a escala tem amplitude ente 0 e 1, sendo 0 ausência de associação e 1 completa associalçao entre as duas variáveis.

*   > 0,25 - Muito forte
*   > 0,15 - Forte
*   > 0,10 - Moderado
*   > 0,05 - Fraco
*   > 0 - Muito fraco ou nenhum

Para verificar se p valor é estatisticamente significante é necessario realizar o teste de **Qui-Quadrade**, onde é realizado um teste de independência, neste teste busca-se comparar os valores observados na tabela de contingência com valores esperados. Quanto maior a diferença entre o observado e esperado, indicando existência de associação entre as variáveis.

- Definir as hipóteses nula e alternativa, depois definir os níveis de confiança e obter os níveis descritivos (p-value).

**Coeficientes de Correlação**
A medida de correlação mais utilizada é o coeficiente de Pearson (coeficiente de correlação produto momento). Apesar de ser a mais utiliza tem algumas limitações, como a relação entre as variáveis precisa ser linear, a escala deve ser intervalar ou razão e os dados devem seguir uma distribuição normal, por esse motivo foram introduzidas as medidas de correlação de Spearman e Kendal.

**Spearman** - Permite o uso de variáveis nas escalas ordinal, intervalar ou razão e não exige algima suposição a respeito da distribuição de probabilidade das variáveis, os dados são ranqueados e depois comparados, os resulyados também são entre -1 e 1, a relação entre as variáveis precisa ser monotônica.

Monotocidade:
* Crescente - Quando o valor de X e Y aumenta.
* Decrescente - Quando X e Y diminui.
* Não monoticidade -  Quando X aumenta e Y diminui.

**Kendall** - Apresenta valores na escala entre -1 e 1, não precisam seguir alguma distribuição de probilidade e podem esyar mas escalas ordinal, intervalar ou razão.

**Crosstab (Pandas)** - função para a criação de tabelas de contigência, para realizar as análise de associação.

**chi2_contingency e association (scipy.stats)** - Para obter os valores de Phi e V de Cramer.

**corr (Pandas) e pairwise_corr (pingouin)** - Usadas para estimação das correlações de Pearson, Spearman e Kendall.

# Montagem dos arquivos

In [ ]:
# Instalação da versão atualizada
! sudo pip install scipy==1.7.1

In [3]:
# Instalação da nova ferramenta para teste de hipótese
! sudo pip install pingouin

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pingouin
  Downloading pingouin-0.5.3-py3-none-any.whl (198 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 198.6/198.6 kB 5.8 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.19 in /usr/local/lib/python3.10/dist-packages (from pingouin) (1.22.4)
Requirement already satisfied: scipy>=1.7 in /usr/local/lib/python3.10/dist-packages (from pingouin) (1.10.1)
Requirement already satisfied: pandas>=1.0 in /usr/local/lib/python3.10/dist-packages (from pingouin) (1.5.3)
Requirement already satisfied: matplotlib>=3.0.2 in /usr/local/lib/python3.10/dist-packages (from pingouin) (3.7.1)
Requirement already satisfied: seaborn>=0.11 in /usr/local/lib/python3.10/dist-packages (from pingouin) (0.12.2)
Requirement already satisfied: statsmodels>=0.13 in /usr/local/lib/python3.10/dist-packages (from pingouin) (0.13.5)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (from pingouin) (1.2.2)
Collecting pandas-flavor>=0.2.0 (from pingouin)
  Downloading pandas_flavor-0.5.0-py3-none-any.whl (7.1 kB)
Collecting outdated (from pingouin)
  Downloading outdated-0.2.2-py2.py3-none-any.whl (7.5 kB)
Requirement already satisfied: tabulate in /usr/local/lib/python3.10/dist-packages (from pingouin) (0.8.10)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.0.2->pingouin) (1.0.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.0.2->pingouin) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.0.2->pingouin) (4.39.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.0.2->pingouin) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.0.2->pingouin) (23.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.0.2->pingouin) (8.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.0.2->pingouin) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.0.2->pingouin) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0->pingouin) (2022.7.1)
Requirement already satisfied: xarray in /usr/local/lib/python3.10/dist-packages (from pandas-flavor>=0.2.0->pingouin) (2022.12.0)
Requirement already satisfied: lazy-loader>=0.1 in /usr/local/lib/python3.10/dist-packages (from pandas-flavor>=0.2.0->pingouin) (0.2)
Requirement already satisfied: patsy>=0.5.2 in /usr/local/lib/python3.10/dist-packages (from statsmodels>=0.13->pingouin) (0.5.3)
Requirement already satisfied: setuptools>=44 in /usr/local/lib/python3.10/dist-packages (from outdated->pingouin) (67.7.2)
Collecting littleutils (from outdated->pingouin)
  Downloading littleutils-0.2.2.tar.gz (6.6 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from outdated->pingouin) (2.27.1)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->pingouin) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->pingouin) (3.1.0)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from patsy>=0.5.2->statsmodels>=0.13->pingouin) (1.16.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->outdated->pingouin) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->outdated->pingouin) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->outdated->pingouin) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->outdated->pingouin) (3.4)
Building wheels for collected packages: littleutils
  Building wheel for littleutils (setup.py) ... done
  Created wheel for littleutils: filename=littleutils-0.2.2-py3-none-any.whl size=7029 sha256=76b013ee26145ef3f09a91f21ef63577daa8eb0960187a4c1d740ff9e0453177
  Stored in directory: /root/.cache/pip/wheels/3d/fe/b0/27a9892da57472e538c7452a721a9cf463cc03cf7379889266
Successfully built littleutils
Installing collected packages: littleutils, outdated, pandas-flavor, pingouin
Successfully installed littleutils-0.2.2 outdated-0.2.2 pandas-flavor-0.5.0 pingouin-0.5.3

In [4]:
# Importação das bibliotecas
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
# Importado as medidas para associação e correlação
from scipy import stats as st
import pingouin as pg

In [6]:
#Iniciando montagem do drive
from google.colab import drive
drive.mount('/content/drive')

import pandas as pd

dados_tratamento = '/content/drive/MyDrive/Asset_FIAP/dados_tratamentos.csv'
dados_tratamento = pd.read_csv(dados_tratamento, sep =';')
dados_tratamento.head()

Mounted at /content/drive

   id   tratamento      evolucao
0   1      tratado      melhorou
1   2      tratado      melhorou
2   3  nao-tratado      melhorou
3   4      tratado      melhorou
4   5      tratado  nao-melhorou

In [7]:
dados_nps = '/content/drive/MyDrive/Asset_FIAP/nps_example.csv'
dados_nps = pd.read_csv(dados_nps, sep =';')
dados_nps.head()

,id,response_status,how_long_listening,age,nps_score,gender
0,11706300,Complete,Less than 6 months,25-34,10.0,Female
1,11706302,Complete,1 year to less than 3 years,25-34,10.0,Female
2,11706307,Complete,6 months to less than a year,35-44,10.0,Female
3,11706312,Complete,Less than 6 months,35-44,10.0,Female
4,11706316,Complete,6 months to less than a year,25-34,10.0,Male

In [8]:
dados_bolsa = '/content/drive/MyDrive/Asset_FIAP/dados_bolsa.csv'
# Como temos dados númericos precisamos passar a função decimal para ele entender que é um campo númerico
dados_bolsa = pd.read_csv(dados_bolsa, sep =';', decimal = ',')
dados_bolsa.head()

         data     petr4     bbdc3     vale5     ambv4     itub4
0  2004-05-26 -0.002270  0.009524  0.013699  0.032668  0.009843
1  2004-05-27  0.026301  0.028396  0.028303  0.014060  0.021442
2  2004-05-28 -0.016484 -0.000092 -0.025261  0.019151  0.000000
3  2004-05-31  0.010986 -0.009174  0.011235 -0.001786  0.000000
4  2004-06-01  0.028142  0.023056 -0.004518  0.013629  0.012107

# **Phi**

In [10]:
# Criar uma tabela cruzada entre os dados
tabela = pd.crosstab(dados_tratamento['tratamento'],
                     dados_tratamento['evolucao'])
tabela

evolucao     melhorou  nao-melhorou
tratamento
nao-tratado        26            29
tratado            35            15

In [11]:
# verificar se existe associação entre as colunas
# Obter o valor do qui quadrado
qui_quadrado = st.chi2_contingency(tabela)[0]

# Tamanho da amostra (quantas pessoas participou da amostra)
n = np.sum(np.sum(tabela))

# Obter o Phi
# sqrt - raíza quadrada
Phi = np.sqrt(qui_quadrado /n )

# Quanto mais próximo de 1 maior associação
Phi

0.21072588592155886

In [12]:
# Teste de qui_qui_quadrado para testar a hipótese
# qui - armazena o valor de qui_quadrado
# gl  - gral de liberdade 
# t_esp - tabela esperada
# combina o valor de qui com a tabela esperada com a tabela real
qui, p, gl, t_esp = st.chi2_contingency(tabela)

# estatísticas esperadas
qui, p

# mais simples trabalhar com o valor de p
# interpretação - se o valor de p < 0,005 - então rejeita a hipótese nula
# hipótese nula: não existe associação entre o tratamento e evolução

(4.6625668947297125, 0.030827072412198585)

# **Análise de associação - V de Cramer**

In [13]:
# Filtrando os questionarios que forem respondidos por completo.
# Filtrando nota dada pelas pessoas
# Filtrando o generio da pessoa para comprar a relação,
dados_nps_filtrados = dados_nps[(dados_nps['response_status'] == 'Complete') & \
                                (dados_nps['nps_score'].notna()) & \
                                (dados_nps['gender'].notna())].reset_index()

In [14]:
# Classficando os clientes pela nota dada na NPS.
def create_nps_groups(x):

  if x <= 5:
    return 'detratores'
  elif x >= 9:
    return 'Promotores'
  else:
    return 'neutris'

In [15]:
# Criando uma nova coluna dentro do data set com a coluna de identificação de cada cliente
# O apply vai fazer a leitura de cada nota por linha e aplicar uma função
# O lambda uma função que vai definir uma função generica
dados_nps_filtrados['nps_groups'] = dados_nps_filtrados['nps_score'].apply(lambda x: create_nps_groups(x))
dados_nps_filtrados

,index,id,response_status,how_long_listening,age,nps_score,gender,nps_groups
0,0,11706300,Complete,Less than 6 months,25-34,10.0,Female,Promotores
1,1,11706302,Complete,1 year to less than 3 years,25-34,10.0,Female,Promotores
2,2,11706307,Complete,6 months to less than a year,35-44,10.0,Female,Promotores
3,3,11706312,Complete,Less than 6 months,35-44,10.0,Female,Promotores
4,4,11706316,Complete,6 months to less than a year,25-34,10.0,Male,Promotores
...,...,...,...,...,...,...,...,...
2238,2573,13610170,Complete,6 months to less than a year,25-34,10.0,Female,Promotores
2239,2574,13640772,Complete,3 years to less than 5 years,18-24,10.0,Female,Promotores
2240,2576,13732056,Complete,1 year to less than 3 years,18-24,10.0,Female,Promotores
2241,2577,13734055,Complete,Less than 6 months,25-34,10.0,Male,Promotores
2242,2578,13777359,Complete,3 years to less than 5 years,35-44,10.0,Male,Promotores

In [16]:
# Contagem de clientes por grupo de nps
# Groupby para definir o grupo que vai ser contado
# Size conta o número de pessoas dentro de cada grupo
# to_frame cria uma coluna chamada N
dados_nps_filtrados.groupby('nps_groups').size().to_frame('n')

               n
nps_groups
Promotores  2047
detratores    25
neutris      171

In [17]:
# Criar uma tabela cruzada para comparação dos dados

tabela = pd.crosstab(dados_nps_filtrados['gender'], dados_nps_filtrados['nps_groups'])
tabela

nps_groups  Promotores  detratores  neutris
gender
Female            1565          12      105
Male               482          13       66

In [18]:
# Para calcular o V de Cramer usando a função do scipy
# association auxilia na obtenção de medidas de associação, cramer é a medida de associação
vcramer_1 = st.contingency.association(tabela, method='cramer')
vcramer_1

0.1134646600588705

In [19]:
# outra maneira para obter o v cramer
# primeiro obter o vvalor do qui quadrado
qui_quadrado = st.chi2_contingency(tabela)[0]

# Tamanho da amostra, uma contagem de todas as pessoas da tabela
n = np.sum(np.sum(tabela))

# obter mínimo de linhas e colunas 
minshape = min(tabela.shape)-1

# obter o valor de cramer 
vcramer_2 = np.sqrt(qui_quadrado / (n * minshape))
vcramer_2

0.1134646600588705

In [20]:
# teste de hipótese 
qui, p, gl, t_esp = st.chi2_contingency(tabela)
qui, p
# se o valor de p <0,005 - então rejeito a hipótese nula
# não existe associação entre gênero e nps.

(28.87689583154292, 5.363666207418583e-07)

In [ ]:
# Correlação 
dados_bolsa[dados_bolsa.isnull()]

In [22]:
dados_bolsa_filtrados = dados_bolsa.dropna()

In [23]:
# data ddos dados
dados_bolsa_filtrados.agg(min_data = pd.NamedAgg('data', 'min'),
                          max_data = pd.NamedAgg('data', 'max'))

                data
min_data  2004-05-26
max_data  2011-03-18

In [24]:
# Função de Pearson
# correlação 
pearson_correl = dados_bolsa_filtrados.corr()
pearson_correl 

# Matriz formatada para facilitar a leitura dos dados 
pearson_correl.style.background_gradient(cmap='coolwarm').set_precision(2)

<ipython-input-24-2ab449c9e84a>:3: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  pearson_correl = dados_bolsa_filtrados.corr()
<ipython-input-24-2ab449c9e84a>:7: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  pearson_correl.style.background_gradient(cmap='coolwarm').set_precision(2)

In [25]:
# Verificar se os dados se correlacionam
correl_columns = ['petr', 'bbdc3', 'vale5', 'ambv4', 'itub4']

# Teste de hipotese
pg.pairwise_corr(dados_bolsa_filtrados,
                 columns = correl_columns,
                 method = 'pearson')

# X uma das colunas e Y com qual ela está se corelacionando R qual a correlação, p-unc é o valor de p-value

,X,Y,method,alternative,n,r,CI95%,p-unc,BF10,power
0,bbdc3,vale5,pearson,two-sided,1604,0.592143,"[0.56, 0.62]",2.143940e-152,3.189e+148,1.0
1,bbdc3,ambv4,pearson,two-sided,1604,0.470529,"[0.43, 0.51]",3.714265e-89,2.774e+85,1.0
2,bbdc3,itub4,pearson,two-sided,1604,0.778506,"[0.76, 0.8]",0.000000e+00,inf,1.0
3,vale5,ambv4,pearson,two-sided,1604,0.482919,"[0.44, 0.52]",1.738600e-94,5.688e+90,1.0
4,vale5,itub4,pearson,two-sided,1604,0.642838,"[0.61, 0.67]",1.064830e-187,5.347e+183,1.0
5,ambv4,itub4,pearson,two-sided,1604,0.488886,"[0.45, 0.53]",3.929767e-97,2.467e+93,1.0

In [26]:
# Correlação de Spearman

spearman_correl = dados_bolsa_filtrados.corr(method='spearman')
spearman_correl

# Matriz ajustada para facilitar a leitura
spearman_correl.style.background_gradient(cmap='coolwarm').set_precision(2)

<ipython-input-26-8b67e5bf1016>:3: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  spearman_correl = dados_bolsa_filtrados.corr(method='spearman')
<ipython-input-26-8b67e5bf1016>:7: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  spearman_correl.style.background_gradient(cmap='coolwarm').set_precision(2)

In [27]:
# Verificar se os dados se correlacionam
correl_columns = ['petr', 'bbdc3', 'vale5', 'ambv4', 'itub4']

# Teste de hipotese
pg.pairwise_corr(dados_bolsa_filtrados,
                 columns = correl_columns,
                 method = 'spearman')

# se p-value < 0,05 - então a correlação e significante

,X,Y,method,alternative,n,r,CI95%,p-unc,power
0,bbdc3,vale5,spearman,two-sided,1604,0.505002,"[0.47, 0.54]",1.513500e-104,1.0
1,bbdc3,ambv4,spearman,two-sided,1604,0.419052,"[0.38, 0.46]",3.166567e-69,1.0
2,bbdc3,itub4,spearman,two-sided,1604,0.758946,"[0.74, 0.78]",8.700692e-301,1.0
3,vale5,ambv4,spearman,two-sided,1604,0.404373,"[0.36, 0.44]",3.794800e-64,1.0
4,vale5,itub4,spearman,two-sided,1604,0.574199,"[0.54, 0.61]",2.395419e-141,1.0
5,ambv4,itub4,spearman,two-sided,1604,0.449118,"[0.41, 0.49]",1.896860e-80,1.0

In [28]:
# Correlação de Kendall

kendall_correl = dados_bolsa_filtrados.corr(method='kendall')
kendall_correl

# Matriz ajustada para facilitar a leitura
kendall_correl.style.background_gradient(cmap='coolwarm').set_precision(2)

# A correlação de Kendall é menor em comparação as outras porém, mas a correleção não é importante é apenas um metodo diferente.

<ipython-input-28-b411814819bf>:3: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  kendall_correl = dados_bolsa_filtrados.corr(method='kendall')
<ipython-input-28-b411814819bf>:7: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  kendall_correl.style.background_gradient(cmap='coolwarm').set_precision(2)

In [29]:
# Verificar se os dados se correlacionam
correl_columns = ['petr', 'bbdc3', 'vale5', 'ambv4', 'itub4']

# Teste de hipotese
pg.pairwise_corr(dados_bolsa_filtrados,
                 columns = correl_columns,
                 method = 'kendall')

# se p-value < 0,05 - então a correlação e significante

,X,Y,method,alternative,n,r,CI95%,p-unc,power
0,bbdc3,vale5,kendall,two-sided,1604,0.358557,"[0.32, 0.4]",1.375615e-102,1.0
1,bbdc3,ambv4,kendall,two-sided,1604,0.294492,"[0.25, 0.34]",8.231269e-70,1.0
2,bbdc3,itub4,kendall,two-sided,1604,0.571953,"[0.54, 0.6]",7.030155e-258,1.0
3,vale5,ambv4,kendall,two-sided,1604,0.282942,"[0.24, 0.33]",1.246269e-64,1.0
4,vale5,itub4,kendall,two-sided,1604,0.411663,"[0.37, 0.45]",1.100820e-134,1.0
5,ambv4,itub4,kendall,two-sided,1604,0.318638,"[0.27, 0.36]",1.852468e-81,1.0