<a href="https://colab.research.google.com/github/CarolineAndradeR/Python/blob/master/Associa%C3%A7%C3%A3o_Correla%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Conceito**

O conceito é norteado tanto a respeito da associação e da correlação é a definição de Independência.

Condicionalidade e inceoendência são conceitos complementares, dada a existência de duas variáveis X e Y, e cada uma é independente uma da outra, caso os possíveis valores observados em X não afetem as probabilidades que serão observados em Y.

Caso ocorram as probabilides P(Y|X) diferente de P(Y), percebemos que X e Y possuem alguma relação de codependência porque de alguma forma X pode interferir nas probabilidades de Y. Mas ainda não podemos afirma que X causa Y.
Pode existir uma associação entre duas variáveis (X e Y), mas não necessariamente podemos induzir que X causa Y.

**Associação** - Uma variável X fornece para entender o comportamento de uma outa variável de Y, os coeficientes de associação podem ser medidos para relações tanyo lineares quanto não lineares nos dados.

**Correlação** - Mede a força e direçãi do relamento linear entre duas variáveis. Os pricipais índices que medem a correlação possuem uma escala que pode variar entre -1 e 1.
1 - Completa correlação positiva;
0 -  Nenhuma correlação (nula);
-1 - Completa correlação negativa;

**Coeficientes de Associação e Correlação**

São utilizados de forma diferente, nas medidas de associação o principal uso ocorre quando buscamos analisar duas variáveis em escala nominal ou ordinal. A correlação, ocorre quando temos duas variáveis em escola intervalar ou razão.

**Coeficientes de associação**
Principais medidas de associação e o teste de hipótese: Coeficiente Phi, V de Cramer e o teste de Qui-Quadrade.
Quando temos que analisar uma variável qualitativa com outra qualitativa, utilizamos tabelas de associação, tabelas de contigência ou tabelas cruzadas.

O coeficiente Phi tem o objetivo de medir a correlação ente duas variáveis nominais e dicotômicas (sucesso/fracasso, masculino/feminino).Retorna valores entre 0 e 1, onde 0 é ausência de associação e 1 completa associação entre duas variáveis.

V de Cramer permite usar as tabelas cruzadas podem ter R linhas e C colunas, nessa medida, a escala tem amplitude ente 0 e 1, sendo 0 ausência de associação e 1 completa associalçao entre as duas variáveis.

*   > 0,25 - Muito forte
*   > 0,15 - Forte
*   > 0,10 - Moderado
*   > 0,05 - Fraco
*   > 0 - Muito fraco ou nenhum

Para verificar se p valor é estatisticamente significante é necessario realizar o teste de **Qui-Quadrade**, onde é realizado um teste de independência, neste teste busca-se comparar os valores observados na tabela de contingência com valores esperados. Quanto maior a diferença entre o observado e esperado, indicando existência de associação entre as variáveis.

- Definir as hipóteses nula e alternativa, depois definir os níveis de confiança e obter os níveis descritivos (p-value).

**Coeficientes de Correlação**
A medida de correlação mais utilizada é o coeficiente de Pearson (coeficiente de correlação produto momento). Apesar de ser a mais utiliza tem algumas limitações, como a relação entre as variáveis precisa ser linear, a escala deve ser intervalar ou razão e os dados devem seguir uma distribuição normal, por esse motivo foram introduzidas as medidas de correlação de Spearman e Kendal.

**Spearman** - Permite o uso de variáveis nas escalas ordinal, intervalar ou razão e não exige algima suposição a respeito da distribuição de probabilidade das variáveis, os dados são ranqueados e depois comparados, os resulyados também são entre -1 e 1, a relação entre as variáveis precisa ser monotônica.

Monotocidade:
* Crescente - Quando o valor de X e Y aumenta.
* Decrescente - Quando X e Y diminui.
* Não monoticidade -  Quando X aumenta e Y diminui.

**Kendall** - Apresenta valores na escala entre -1 e 1, não precisam seguir alguma distribuição de probilidade e podem esyar mas escalas ordinal, intervalar ou razão.

**Crosstab (Pandas)** - função para a criação de tabelas de contigência, para realizar as análise de associação.

**chi2_contingency e association (scipy.stats)** - Para obter os valores de Phi e V de Cramer.

**corr (Pandas) e pairwise_corr (pingouin)** - Usadas para estimação das correlações de Pearson, Spearman e Kendall.

# Montagem dos arquivos

In [ ]:
# Instalação da versão atualizada
! sudo pip install scipy==1.7.1

In [ ]:
# Instalação da nova ferramenta para teste de hipótese
! sudo pip install pingouin

In [39]:
# Importação das bibliotecas
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
# Importado as medidas para associação e correlação
from scipy import stats as st
import pingouin as pg

In [40]:
#Iniciando montagem do drive
from google.colab import drive
drive.mount('/content/drive')

import pandas as pd

dados_tratamento = '/content/drive/MyDrive/Asset_FIAP/dados_tratamentos.csv'
dados_tratamento = pd.read_csv(dados_tratamento, sep =';')
dados_tratamento.head()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

   id   tratamento      evolucao
0   1      tratado      melhorou
1   2      tratado      melhorou
2   3  nao-tratado      melhorou
3   4      tratado      melhorou
4   5      tratado  nao-melhorou

In [41]:
dados_nps = '/content/drive/MyDrive/Asset_FIAP/nps_example.csv'
dados_nps = pd.read_csv(dados_nps, sep =';')
dados_nps.head()

,id,response_status,how_long_listening,age,nps_score,gender
0,11706300,Complete,Less than 6 months,25-34,10.0,Female
1,11706302,Complete,1 year to less than 3 years,25-34,10.0,Female
2,11706307,Complete,6 months to less than a year,35-44,10.0,Female
3,11706312,Complete,Less than 6 months,35-44,10.0,Female
4,11706316,Complete,6 months to less than a year,25-34,10.0,Male

In [42]:
dados_bolsa = '/content/drive/MyDrive/Asset_FIAP/dados_bolsa.csv'
# Como temos dados númericos precisamos passar a função decimal para ele entender que é um campo númerico
dados_bolsa = pd.read_csv(dados_bolsa, sep =';', decimal = ',')
dados_bolsa.head()

         data     petr4     bbdc3     vale5     ambv4     itub4
0  2004-05-26 -0.002270  0.009524  0.013699  0.032668  0.009843
1  2004-05-27  0.026301  0.028396  0.028303  0.014060  0.021442
2  2004-05-28 -0.016484 -0.000092 -0.025261  0.019151  0.000000
3  2004-05-31  0.010986 -0.009174  0.011235 -0.001786  0.000000
4  2004-06-01  0.028142  0.023056 -0.004518  0.013629  0.012107

# **Phi**

In [43]:
# Criar uma tabela cruzada entre os dados
tabela = pd.crosstab(dados_tratamento['tratamento'],
                     dados_tratamento['evolucao'])
tabela

evolucao     melhorou  nao-melhorou
tratamento
nao-tratado        26            29
tratado            35            15

In [44]:
# verificar se existe associação entre as colunas
# Obter o valor do qui quadrado
qui_quadrado = st.chi2_contingency(tabela)[0]

# Tamanho da amostra (quantas pessoas participou da amostra)
n = np.sum(np.sum(tabela))

# Obter o Phi
# sqrt - raíza quadrada
Phi = np.sqrt(qui_quadrado /n )

# Quanto mais próximo de 1 maior associação
Phi

0.21072588592155886

In [45]:
# Teste de qui_qui_quadrado para testar a hipótese
# qui - armazena o valor de qui_quadrado
# gl  - gral de liberdade 
# t_esp - tabela esperada
# combina o valor de qui com a tabela esperada com a tabela real
qui, p, gl, t_esp = st.chi2_contingency(tabela)

# estatísticas esperadas
qui, p

# mais simples trabalhar com o valor de p
# interpretação - se o valor de p < 0,005 - então rejeita a hipótese nula
# hipótese nula: não existe associação entre o tratamento e evolução

(4.6625668947297125, 0.030827072412198585)

# **Análise de associação - V de Cramer**

In [56]:
# Filtrando os questionarios que forem respondidos por completo.
# Filtrando nota dada pelas pessoas
# Filtrando o generio da pessoa para comprar a relação,
dados_nps_filtrados = dados_nps[(dados_nps['response_status'] == 'Complete') & \
                                (dados_nps['nps_score'].notna()) & \
                                (dados_nps['gender'].notna())].reset_index()

In [47]:
# Classficando os clientes pela nota dada na NPS.
def create_nps_groups(x):

  if x <= 5:
    return 'detratores'
  elif x >= 9:
    return 'Promotores'
  else:
    return 'neutris'

In [57]:
# Criando uma nova coluna dentro do data set com a coluna de identificação de cada cliente
# O apply vai fazer a leitura de cada nota por linha e aplicar uma função
# O lambda uma função que vai definir uma função generica
dados_nps_filtrados['nps_groups'] = dados_nps_filtrados['nps_score'].apply(lambda x: create_nps_groups(x))
dados_nps_filtrados

,index,id,response_status,how_long_listening,age,nps_score,gender,nps_groups
0,0,11706300,Complete,Less than 6 months,25-34,10.0,Female,Promotores
1,1,11706302,Complete,1 year to less than 3 years,25-34,10.0,Female,Promotores
2,2,11706307,Complete,6 months to less than a year,35-44,10.0,Female,Promotores
3,3,11706312,Complete,Less than 6 months,35-44,10.0,Female,Promotores
4,4,11706316,Complete,6 months to less than a year,25-34,10.0,Male,Promotores
...,...,...,...,...,...,...,...,...
2238,2573,13610170,Complete,6 months to less than a year,25-34,10.0,Female,Promotores
2239,2574,13640772,Complete,3 years to less than 5 years,18-24,10.0,Female,Promotores
2240,2576,13732056,Complete,1 year to less than 3 years,18-24,10.0,Female,Promotores
2241,2577,13734055,Complete,Less than 6 months,25-34,10.0,Male,Promotores
2242,2578,13777359,Complete,3 years to less than 5 years,35-44,10.0,Male,Promotores

In [53]:
# Contagem de clientes por grupo de nps
# Groupby para definir o grupo que vai ser contado
# Size conta o número de pessoas dentro de cada grupo
# to_frame cria uma coluna chamada N
dados_nps_filtrados.groupby('nps_groups').size().to_frame('n')

               n
nps_groups
Promotores  2047
detratores    25
neutris      171

In [54]:
# Criar uma tabela cruzada para comparação dos dados

tabela = pd.crosstab(dados_nps_filtrados['gender'], dados_nps_filtrados['nps_groups'])
tabela

nps_groups  Promotores  detratores  neutris
gender
Female            1565          12      105
Male               482          13       66

In [58]:
# Para calcular o V de Cramer usando a função do scipy
# association auxilia na obtenção de medidas de associação, cramer é a medida de associação
vcramer_1 = st.contingency.association(tabela, method='cramer')
vcramer_1

0.1134646600588705

In [62]:
# outra maneira para obter o v cramer
# primeiro obter o vvalor do qui quadrado
qui_quadrado = st.chi2_contingency(tabela)[0]

# Tamanho da amostra, uma contagem de todas as pessoas da tabela
n = np.sum(np.sum(tabela))

# obter mínimo de linhas e colunas 
minshape = min(tabela.shape)-1

# obter o valor de cramer 
vcramer_2 = np.sqrt(qui_quadrado / (n * minshape))
vcramer_2

0.1134646600588705

In [64]:
# teste de hipótese 
qui, p, gl, t_esp = st.chi2_contingency(tabela)
qui, p
# se o valor de p <0,005 - então rejeito a hipótese nula
# não existe associação entre gênero e nps.

(28.87689583154292, 5.363666207418583e-07)

In [ ]:
# Correlação 
dados_bolsa[dados_bolsa.isnull()]

In [66]:
dados_bolsa_filtrados = dados_bolsa.dropna()

In [ ]:
# data ddos dados
dados_bolsa_filtrados.agg(min_data = pd.NamedAgg('data', 'min'),
                          max_data = pd.NamedAgg('data', 'max'))

In [ ]:
# Função de Pearson
# correlação 
pearson_correl = dados_bolsa_filtrados.corr()
pearson_correl

In [73]:
# Matriz formatada para facilitar a leitura dos dados 
pearson_correl.style.backgroud_gradient(cmap='coolwarn').set_set_precision(2)

AttributeError: ignored