<a href="https://colab.research.google.com/github/CarolineAndradeR/Python/blob/master/Associa%C3%A7%C3%A3o_Correla%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Conceito**

O conceito é norteado tanto a respeito da associação e da correlação é a definição de Independência.

Condicionalidade e inceoendência são conceitos complementares, dada a existência de duas variáveis X e Y, e cada uma é independente uma da outra, caso os possíveis valores observados em X não afetem as probabilidades que serão observados em Y.

Caso ocorram as probabilides P(Y|X) diferente de P(Y), percebemos que X e Y possuem alguma relação de codependência porque de alguma forma X pode interferir nas probabilidades de Y. Mas ainda não podemos afirma que X causa Y.
Pode existir uma associação entre duas variáveis (X e Y), mas não necessariamente podemos induzir que X causa Y.

**Associação** - Uma variável X fornece para entender o comportamento de uma outa variável de Y, os coeficientes de associação podem ser medidos para relações tanyo lineares quanto não lineares nos dados.

**Correlação** - Mede a força e direçãi do relamento linear entre duas variáveis. Os pricipais índices que medem a correlação possuem uma escala que pode variar entre -1 e 1.
1 - Completa correlação positiva;
0 -  Nenhuma correlação (nula);
-1 - Completa correlação negativa;

**Coeficientes de Associação e Correlação**

São utilizados de forma diferente, nas medidas de associação o principal uso ocorre quando buscamos analisar duas variáveis em escala nominal ou ordinal. A correlação, ocorre quando temos duas variáveis em escola intervalar ou razão.

**Coeficientes de associação**
Principais medidas de associação e o teste de hipótese: Coeficiente Phi, V de Cramer e o teste de Qui-Quadrade.
Quando temos que analisar uma variável qualitativa com outra qualitativa, utilizamos tabelas de associação, tabelas de contigência ou tabelas cruzadas.

O coeficiente Phi tem o objetivo de medir a correlação ente duas variáveis nominais e dicotômicas (sucesso/fracasso, masculino/feminino).Retorna valores entre 0 e 1, onde 0 é ausência de associação e 1 completa associação entre duas variáveis.

V de Cramer permite usar as tabelas cruzadas podem ter R linhas e C colunas, nessa medida, a escala tem amplitude ente 0 e 1, sendo 0 ausência de associação e 1 completa associalçao entre as duas variáveis.

*   > 0,25 - Muito forte
*   > 0,15 - Forte
*   > 0,10 - Moderado
*   > 0,05 - Fraco
*   > 0 - Muito fraco ou nenhum

Para verificar se p valor é estatisticamente significante é necessario realizar o teste de **Qui-Quadrade**, onde é realizado um teste de independência, neste teste busca-se comparar os valores observados na tabela de contingência com valores esperados. Quanto maior a diferença entre o observado e esperado, indicando existência de associação entre as variáveis.

- Definir as hipóteses nula e alternativa, depois definir os níveis de confiança e obter os níveis descritivos (p-value).

**Coeficientes de Correlação**
A medida de correlação mais utilizada é o coeficiente de Pearson (coeficiente de correlação produto momento). Apesar de ser a mais utiliza tem algumas limitações, como a relação entre as variáveis precisa ser linear, a escala deve ser intervalar ou razão e os dados devem seguir uma distribuição normal, por esse motivo foram introduzidas as medidas de correlação de Spearman e Kendal.

**Spearman** - Permite o uso de variáveis nas escalas ordinal, intervalar ou razão e não exige algima suposição a respeito da distribuição de probabilidade das variáveis, os dados são ranqueados e depois comparados, os resulyados também são entre -1 e 1, a relação entre as variáveis precisa ser monotônica.

Monotocidade:
* Crescente - Quando o valor de X e Y aumenta.
* Decrescente - Quando X e Y diminui.
* Não monoticidade -  Quando X aumenta e Y diminui.

**Kendall** - Apresenta valores na escala entre -1 e 1, não precisam seguir alguma distribuição de probilidade e podem esyar mas escalas ordinal, intervalar ou razão.

**Crosstab (Pandas)** - função para a criação de tabelas de contigência, para realizar as análise de associação.

**chi2_contingency e association (scipy.stats)** - Para obter os valores de Phi e V de Cramer.

**corr (Pandas) e pairwise_corr (pingouin)** - Usadas para estimação das correlações de Pearson, Spearman e Kendall.

# Montagem dos arquivos

In [ ]:
# Instalação da versão atualizada
! sudo pip install scipy==1.7.1

In [ ]:
# Instalação da nova ferramenta para teste de hipótese
! sudo pip install pingouin

In [3]:
# Importação das bibliotecas
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
# Importado as medidas para associação e correlação
from scipy import stats as st
import pingouin as pg

In [5]:
#Iniciando montagem do drive
from google.colab import drive
drive.mount('/content/drive')

import pandas as pd

dados_tratamento = '/content/drive/MyDrive/Asset_FIAP/dados_tratamentos.csv'
dados_tratamento = pd.read_csv(dados_tratamento, sep =';')
dados_tratamento.head()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

   id   tratamento      evolucao
0   1      tratado      melhorou
1   2      tratado      melhorou
2   3  nao-tratado      melhorou
3   4      tratado      melhorou
4   5      tratado  nao-melhorou

In [6]:
dados_nps = '/content/drive/MyDrive/Asset_FIAP/nps_example.csv'
dados_nps = pd.read_csv(dados_nps, sep =';')
dados_nps.head()

,id,response_status,how_long_listening,age,nps_score,gender
0,11706300,Complete,Less than 6 months,25-34,10.0,Female
1,11706302,Complete,1 year to less than 3 years,25-34,10.0,Female
2,11706307,Complete,6 months to less than a year,35-44,10.0,Female
3,11706312,Complete,Less than 6 months,35-44,10.0,Female
4,11706316,Complete,6 months to less than a year,25-34,10.0,Male

In [7]:
dados_bolsa = '/content/drive/MyDrive/Asset_FIAP/dados_bolsa.csv'
# Como temos dados númericos precisamos passar a função decimal para ele entender que é um campo númerico
dados_bolsa = pd.read_csv(dados_bolsa, sep =';', decimal = ',')
dados_bolsa.head()

         data     petr4     bbdc3     vale5     ambv4     itub4
0  2004-05-26 -0.002270  0.009524  0.013699  0.032668  0.009843
1  2004-05-27  0.026301  0.028396  0.028303  0.014060  0.021442
2  2004-05-28 -0.016484 -0.000092 -0.025261  0.019151  0.000000
3  2004-05-31  0.010986 -0.009174  0.011235 -0.001786  0.000000
4  2004-06-01  0.028142  0.023056 -0.004518  0.013629  0.012107

# **Phi**

In [8]:
# Criar uma tabela cruzada entre os dados
tabela = pd.crosstab(dados_tratamento['tratamento'],
                     dados_tratamento['evolucao'])
tabela

evolucao     melhorou  nao-melhorou
tratamento
nao-tratado        26            29
tratado            35            15

In [9]:
# verificar se existe associação entre as colunas
# Obter o valor do qui quadrado
qui_quadrado = st.chi2_contingency(tabela)[0]

# Tamanho da amostra
n = np.sum(np.sum(tabela))

# Obter o Phi
# sqrt - raíza quadrada
Phi = np.sqrt(qui_quadrado /n )

# Quanto mais próximo de 1 maior associação
Phi

0.21072588592155886