<a href="https://colab.research.google.com/github/CarolineAndradeR/Script_Python/blob/master/cap12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Meu primeiro notebook")

Meu primeiro notebook

In [2]:
#Biblioteca númerica
!pip install numpy
#Manipulação de dados tabulares (formato de planilhas)
!pip install pandas
#Cálculos estatísticos e científicos  (modelos)
!pip install statsmodels
#Aprendizagens de máquinas (marchine laerning)
!pip install sklearn
#! exculta como se estivesse no terminal
#Ideal que as bibliotecas estejam sempre no início, para melhor controle.

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (1.21.6)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: statsmodels in /usr/local/lib/python3.8/dist-packages (0.12.2)
Requirement already satisfied: scipy>=1.1 in /usr/local/lib/python3.8/dist-packages (from statsmodels) (1.7.3)
Requirement already satisfied: patsy>=0.5 in /usr/local/lib/python3.8/dist-packages (from statsmodels) (0.5.3)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.8/dist-packages (from statsmodels) (1.21.6)
Requirement already satisfied: pandas>=0.21 in /usr/local/lib/python3.8/dist-packages (from statsmodels) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.21->statsmodels) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.21->statsmodels) (2022.7.1)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from patsy>=0.5->statsmodels) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting sklearn
  Downloading sklearn-0.0.post1.tar.gz (3.6 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py) ... done
  Created wheel for sklearn: filename=sklearn-0.0.post1-py3-none-any.whl size=2344 sha256=67c4877d0a725cca02ba988189a279b296d3a8b5e9aae060aed2239782d9de5a
  Stored in directory: /root/.cache/pip/wheels/14/25/f7/1cc0956978ae479e75140219088deb7a36f60459df242b1a72
Successfully built sklearn
Installing collected packages: sklearn
Successfully installed sklearn-0.0.post1

In [3]:
#Iniciando montagem do drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
import pandas as pd

arq_dados_paises = '/content/drive/MyDrive/dados_paises.csv'
#Read - leitura de arquivo
df_dados_pais = pd.read_csv(arq_dados_paises)
#Head - retorno a leitura primeiras linhas do data freme (por padrão retorna as 5 primeiras)
df_dados_pais.head(2)
#Tail - retorna as últimas linhas do data freme 
#df_dados_pais.tail(10)
#Quando está apenas o nome do objeto retorna os 5 primeiro e os 5 últimos
#df_dados_pais

,Country Name,Country Code,Series Name,Series Code,1990 [YR1990],2000 [YR2000],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
0,Brazil,BRA,"Population, total",SP.POP.TOTL,149003225,174790339,197514541,199287292,201035904,202763744,204471759,206163056,207833825,209469320,211049519,212559409
1,Brazil,BRA,Population growth (annual %),SP.POP.GROW,1.81151883766468,1.42416744229362,0.915965178459778,0.893525506727112,0.873605695817564,0.855795964130977,0.838838953278811,0.823752152538353,0.807145245445964,0.783844259734468,0.751550842096973,0.712872791114979

In [9]:
#Colunas do DataFrame

print("Tipo: ")
#Acessar uma linha e colunas do DataFreme
print(type(df_dados_pais.loc[0]))
print("Dados: ")
df_dados_pais.loc[0]
#Acessar diretamente uma coluna, retorno o tipo dos dados dentro daquele objeto
df_dados_pais["Series Code"]

Tipo:
<class 'pandas.core.series.Series'>
Dados:

Country Name                                                Brazil
Country Code                                                   BRA
Series Name      Poverty headcount ratio at $1.90 a day (2011 P...
Series Code                                            SI.POV.DDAY
1990 [YR1990]                                                 21.5
2000 [YR2000]                                                   ..
2011 [YR2011]                                                  4.7
2012 [YR2012]                                                  3.7
2013 [YR2013]                                                  3.1
2014 [YR2014]                                                  2.7
2015 [YR2015]                                                  3.2
2016 [YR2016]                                                  3.9
2017 [YR2017]                                                  4.4
2018 [YR2018]                                                  4.4
2019 [YR2019]                                                  4.6
2020 [YR2020]                                                   ..
Name: 5, dtype: object

In [10]:
df_dados_pais["Series Code"]

0         SP.POP.TOTL
1         SP.POP.GROW
2      AG.SRF.TOTL.K2
3         EN.POP.DNST
4         SI.POV.NAHC
            ...
275               NaN
276               NaN
277               NaN
278               NaN
279               NaN
Name: Series Code, Length: 280, dtype: object

In [17]:
#Criar uma cópia do DataFreme, importe para tratamento dos dados
df_copia_dados_pais = df_dados_pais.copy()
#Para validar se é uma cópia de arquivo ou é uma referencia de objeto (True - referencia False - Copia)
#id(df_copia_dados_pais) == id(df_dados_pais)


#Apagar o DataFreme por completo
del df_copia_dados_pais
#Apagar uma coluna especifica do DataFreme
del df_copia_dados_pais["1990 [YR1990]"]
#Apagar um linha especifica passando o loc
del df_copia_dados_pais.loc[3]
#Retorna novamente o DataFreme
df_copia_dados_pais

,Country Code,Series Name,2000 [YR2000],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
0,BRA,"Population, total",174790339,197514541,199287292,201035904,202763744,204471759,206163056,207833825,209469320,211049519,212559409
1,BRA,Population growth (annual %),1.42416744229362,0.915965178459778,0.893525506727112,0.873605695817564,0.855795964130977,0.838838953278811,0.823752152538353,0.807145245445964,0.783844259734468,0.751550842096973,0.712872791114979
2,BRA,Surface area (sq. km),8515770,8515770,8515770,8515770,8515770,8515770,8515770,8515770,8515770,..,..
3,BRA,Population density (people per sq. km of land ...,20.9125880877803,23.6313989715415,23.843497715999,24.0527083777013,24.2594337974717,24.4637872780308,24.6661405528024,24.8660377787402,25.0617146877176,25.2507757706858,25.4314248146119
4,BRA,Poverty headcount ratio at national poverty li...,..,..,..,..,..,..,..,..,..,..,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
276,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
277,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
279,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
#Recorte do DataFreme
#df_descricao_campos = df_dados_pais[['Series Name', 'Series Code']]

#Criar uma copia do recorte
df_descricao_campos = df_dados_pais[['Series Code', 'Series Name']].copy()

#Ordena o objeto somente no momento da excução (não foi gravado dentro de nada, não é permanente)
#df_descricao_campos.sort_values(by='Series Code')

#Ordena de forma permante com base na coluna
df_descricao_campos.sort_values(by='Series Code', inplace=True)

#Apagar dados duplicados
df_descricao_campos.drop_duplicates()

           Series Code                                        Series Name
189     AG.LND.FRST.K2                               Forest area (sq. km)
2       AG.SRF.TOTL.K2                              Surface area (sq. km)
108  BX.KLT.DINV.CD.WD  Foreign direct investment, net inflows (BoP, c...
217  BX.TRF.PWKR.CD.DT       Personal remittances, received (current US$)
214     DT.DOD.DECT.CD     External debt stocks, total (DOD, current US$)
109     DT.ODA.ALLD.CD  Net official development assistance and offici...
270  DT.TDS.DECT.EX.ZS  Total debt service (% of exports of goods, ser...
250  EG.USE.ELEC.KH.PC        Electric power consumption (kWh per capita)
28   EG.USE.PCAP.KG.OE       Energy use (kg of oil equivalent per capita)
139     EN.ATM.CO2E.PC             CO2 emissions (metric tons per capita)
3          EN.POP.DNST  Population density (people per sq. km of land ...
81      ER.H2O.FWTL.ZS  Annual freshwater withdrawals, total (% of int...
135     ER.PTD.TOTL.ZS  Terrestrial and marine protected areas (% of t...
261  FS.AST.DOMS.GD.ZS  Domestic credit provided by financial sector (...
204  GC.REV.XGRT.GD.ZS               Revenue, excluding grants (% of GDP)
262  GC.TAX.TOTL.GD.ZS                             Tax revenue (% of GDP)
260        IC.REG.DURS           Time required to start a business (days)
211        IQ.SCI.OVRL  Statistical Capacity Score (Overall Average) (...
209     IT.CEL.SETS.P2     Mobile cellular subscriptions (per 100 people)
263  MS.MIL.XPND.GD.ZS                    Military expenditure (% of GDP)
201     NE.EXP.GNFS.ZS           Exports of goods and services (% of GDP)
203     NE.GDI.TOTL.ZS                 Gross capital formation (% of GDP)
257     NE.IMP.GNFS.ZS           Imports of goods and services (% of GDP)
199     NV.AGR.TOTL.ZS  Agriculture, forestry, and fishing, value adde...
145     NV.IND.TOTL.ZS  Industry (including construction), value added...
198  NY.GDP.DEFL.KD.ZG                 Inflation, GDP deflator (annual %)
86      NY.GDP.MKTP.CD                                  GDP (current US$)
32   NY.GDP.MKTP.KD.ZG                              GDP growth (annual %)
6       NY.GNP.ATLS.CD                    GNI, Atlas method (current US$)
173  NY.GNP.MKTP.PP.CD                 GNI, PPP (current international $)
7       NY.GNP.PCAP.CD         GNI per capita, Atlas method (current US$)
64   NY.GNP.PCAP.PP.CD      GNI per capita, PPP (current international $)
132  SE.ENR.PRSC.FM.ZS  School enrollment, primary and secondary (gros...
19      SE.PRM.CMPT.ZS  Primary completion rate, total (% of relevant ...
185        SE.PRM.ENRR               School enrollment, primary (% gross)
76         SE.SEC.ENRR             School enrollment, secondary (% gross)
133     SH.DYN.AIDS.ZS  Prevalence of HIV, total (% of population ages...
16         SH.DYN.MORT    Mortality rate, under-5 (per 1,000 live births)
18         SH.IMM.MEAS  Immunization, measles (% of children ages 12-2...
125     SH.STA.BRTC.ZS  Births attended by skilled health staff (% of ...
17      SH.STA.MALN.ZS  Prevalence of underweight, weight for age (% o...
65      SI.DST.FRST.20                    Income share held by lowest 20%
5          SI.POV.DDAY  Poverty headcount ratio at $1.90 a day (2011 P...
4          SI.POV.NAHC  Poverty headcount ratio at national poverty li...
271        SM.POP.NETM                                      Net migration
68         SP.ADO.TFRT  Adolescent fertility rate (births per 1,000 wo...
69      SP.DYN.CONU.ZS  Contraceptive prevalence, any method (% of mar...
11      SP.DYN.LE00.IN            Life expectancy at birth, total (years)
177     SP.DYN.TFRT.IN           Fertility rate, total (births per woman)
111        SP.POP.GROW                       Population growth (annual %)
0          SP.POP.TOTL                                  Population, total
27         SP.URB.GROW                 Urban population growth (annual %)
212  TG.VAL.TOTL.GD.ZS                       Merchandise trade (% of GDP)
158  TT.PRI.MRCH.XD.WD       Net barter terms of trade index (2000 = 100)
155  TX.VAL.TECH.MF.ZS  High-technology exports (% of manufactured exp...
275                NaN                                                NaN

In [32]:
#Comando encadeado (quando se tem mais de um comando na mesma linha de código)
#Comando RESET reordena o valores do index com base na ordenação das colunas
df_descricao_campos = df_descricao_campos.drop_duplicates().reset_index().sort_values(by='Series Code')

#Toda vez que é usado o Resert Index no mesmo objeto cria uma coluna nova, para não ficar varias colunas repetidas toda vez que excutar o comando
#é necessario apagar o primeiro que foi feito.
#del df_descricao_campos['index']
#del df_descricao_campos['level_0']


df_descricao_campos

          Series Code                                        Series Name
0      AG.LND.FRST.K2                               Forest area (sq. km)
1      AG.SRF.TOTL.K2                              Surface area (sq. km)
2   BX.KLT.DINV.CD.WD  Foreign direct investment, net inflows (BoP, c...
3   BX.TRF.PWKR.CD.DT       Personal remittances, received (current US$)
4      DT.DOD.DECT.CD     External debt stocks, total (DOD, current US$)
5      DT.ODA.ALLD.CD  Net official development assistance and offici...
6   DT.TDS.DECT.EX.ZS  Total debt service (% of exports of goods, ser...
7   EG.USE.ELEC.KH.PC        Electric power consumption (kWh per capita)
8   EG.USE.PCAP.KG.OE       Energy use (kg of oil equivalent per capita)
9      EN.ATM.CO2E.PC             CO2 emissions (metric tons per capita)
10        EN.POP.DNST  Population density (people per sq. km of land ...
11     ER.H2O.FWTL.ZS  Annual freshwater withdrawals, total (% of int...
12     ER.PTD.TOTL.ZS  Terrestrial and marine protected areas (% of t...
13  FS.AST.DOMS.GD.ZS  Domestic credit provided by financial sector (...
14  GC.REV.XGRT.GD.ZS               Revenue, excluding grants (% of GDP)
15  GC.TAX.TOTL.GD.ZS                             Tax revenue (% of GDP)
16        IC.REG.DURS           Time required to start a business (days)
17        IQ.SCI.OVRL  Statistical Capacity Score (Overall Average) (...
18     IT.CEL.SETS.P2     Mobile cellular subscriptions (per 100 people)
19  MS.MIL.XPND.GD.ZS                    Military expenditure (% of GDP)
20     NE.EXP.GNFS.ZS           Exports of goods and services (% of GDP)
21     NE.GDI.TOTL.ZS                 Gross capital formation (% of GDP)
22     NE.IMP.GNFS.ZS           Imports of goods and services (% of GDP)
23     NV.AGR.TOTL.ZS  Agriculture, forestry, and fishing, value adde...
24     NV.IND.TOTL.ZS  Industry (including construction), value added...
25  NY.GDP.DEFL.KD.ZG                 Inflation, GDP deflator (annual %)
26     NY.GDP.MKTP.CD                                  GDP (current US$)
27  NY.GDP.MKTP.KD.ZG                              GDP growth (annual %)
28     NY.GNP.ATLS.CD                    GNI, Atlas method (current US$)
29  NY.GNP.MKTP.PP.CD                 GNI, PPP (current international $)
30     NY.GNP.PCAP.CD         GNI per capita, Atlas method (current US$)
31  NY.GNP.PCAP.PP.CD      GNI per capita, PPP (current international $)
32  SE.ENR.PRSC.FM.ZS  School enrollment, primary and secondary (gros...
33     SE.PRM.CMPT.ZS  Primary completion rate, total (% of relevant ...
34        SE.PRM.ENRR               School enrollment, primary (% gross)
35        SE.SEC.ENRR             School enrollment, secondary (% gross)
36     SH.DYN.AIDS.ZS  Prevalence of HIV, total (% of population ages...
37        SH.DYN.MORT    Mortality rate, under-5 (per 1,000 live births)
38        SH.IMM.MEAS  Immunization, measles (% of children ages 12-2...
39     SH.STA.BRTC.ZS  Births attended by skilled health staff (% of ...
40     SH.STA.MALN.ZS  Prevalence of underweight, weight for age (% o...
41     SI.DST.FRST.20                    Income share held by lowest 20%
42        SI.POV.DDAY  Poverty headcount ratio at $1.90 a day (2011 P...
43        SI.POV.NAHC  Poverty headcount ratio at national poverty li...
44        SM.POP.NETM                                      Net migration
45        SP.ADO.TFRT  Adolescent fertility rate (births per 1,000 wo...
46     SP.DYN.CONU.ZS  Contraceptive prevalence, any method (% of mar...
47     SP.DYN.LE00.IN            Life expectancy at birth, total (years)
48     SP.DYN.TFRT.IN           Fertility rate, total (births per woman)
49        SP.POP.GROW                       Population growth (annual %)
50        SP.POP.TOTL                                  Population, total
51        SP.URB.GROW                 Urban population growth (annual %)
52  TG.VAL.TOTL.GD.ZS                       Merchandise trade (% of GDP)
53  TT.PRI.MRCH.XD.WD       Net barter terms of trade index (2000 = 100)
54  TX.VAL.TECH.MF.ZS  High-technology exports (% of manufactured exp...
55                NaN                                                NaN

In [34]:
#Apaga as referencias com NaN, porem não é de forma permanete
#df_descricao_campos.dropna()

#Só apaga de forma permanete se for passado uma referência
#A referência pode ser a mesma, dar a referência o valor dela mesma
#df_descricao_campos = df_descricao_campos.dropna()

#Ou usar o Inplace para dizer que a alteração vai ocorrer dentro dela mesma
df_descricao_campos.dropna(inplace=True)

df_descricao_campos

          Series Code                                        Series Name
0      AG.LND.FRST.K2                               Forest area (sq. km)
1      AG.SRF.TOTL.K2                              Surface area (sq. km)
2   BX.KLT.DINV.CD.WD  Foreign direct investment, net inflows (BoP, c...
3   BX.TRF.PWKR.CD.DT       Personal remittances, received (current US$)
4      DT.DOD.DECT.CD     External debt stocks, total (DOD, current US$)
5      DT.ODA.ALLD.CD  Net official development assistance and offici...
6   DT.TDS.DECT.EX.ZS  Total debt service (% of exports of goods, ser...
7   EG.USE.ELEC.KH.PC        Electric power consumption (kWh per capita)
8   EG.USE.PCAP.KG.OE       Energy use (kg of oil equivalent per capita)
9      EN.ATM.CO2E.PC             CO2 emissions (metric tons per capita)
10        EN.POP.DNST  Population density (people per sq. km of land ...
11     ER.H2O.FWTL.ZS  Annual freshwater withdrawals, total (% of int...
12     ER.PTD.TOTL.ZS  Terrestrial and marine protected areas (% of t...
13  FS.AST.DOMS.GD.ZS  Domestic credit provided by financial sector (...
14  GC.REV.XGRT.GD.ZS               Revenue, excluding grants (% of GDP)
15  GC.TAX.TOTL.GD.ZS                             Tax revenue (% of GDP)
16        IC.REG.DURS           Time required to start a business (days)
17        IQ.SCI.OVRL  Statistical Capacity Score (Overall Average) (...
18     IT.CEL.SETS.P2     Mobile cellular subscriptions (per 100 people)
19  MS.MIL.XPND.GD.ZS                    Military expenditure (% of GDP)
20     NE.EXP.GNFS.ZS           Exports of goods and services (% of GDP)
21     NE.GDI.TOTL.ZS                 Gross capital formation (% of GDP)
22     NE.IMP.GNFS.ZS           Imports of goods and services (% of GDP)
23     NV.AGR.TOTL.ZS  Agriculture, forestry, and fishing, value adde...
24     NV.IND.TOTL.ZS  Industry (including construction), value added...
25  NY.GDP.DEFL.KD.ZG                 Inflation, GDP deflator (annual %)
26     NY.GDP.MKTP.CD                                  GDP (current US$)
27  NY.GDP.MKTP.KD.ZG                              GDP growth (annual %)
28     NY.GNP.ATLS.CD                    GNI, Atlas method (current US$)
29  NY.GNP.MKTP.PP.CD                 GNI, PPP (current international $)
30     NY.GNP.PCAP.CD         GNI per capita, Atlas method (current US$)
31  NY.GNP.PCAP.PP.CD      GNI per capita, PPP (current international $)
32  SE.ENR.PRSC.FM.ZS  School enrollment, primary and secondary (gros...
33     SE.PRM.CMPT.ZS  Primary completion rate, total (% of relevant ...
34        SE.PRM.ENRR               School enrollment, primary (% gross)
35        SE.SEC.ENRR             School enrollment, secondary (% gross)
36     SH.DYN.AIDS.ZS  Prevalence of HIV, total (% of population ages...
37        SH.DYN.MORT    Mortality rate, under-5 (per 1,000 live births)
38        SH.IMM.MEAS  Immunization, measles (% of children ages 12-2...
39     SH.STA.BRTC.ZS  Births attended by skilled health staff (% of ...
40     SH.STA.MALN.ZS  Prevalence of underweight, weight for age (% o...
41     SI.DST.FRST.20                    Income share held by lowest 20%
42        SI.POV.DDAY  Poverty headcount ratio at $1.90 a day (2011 P...
43        SI.POV.NAHC  Poverty headcount ratio at national poverty li...
44        SM.POP.NETM                                      Net migration
45        SP.ADO.TFRT  Adolescent fertility rate (births per 1,000 wo...
46     SP.DYN.CONU.ZS  Contraceptive prevalence, any method (% of mar...
47     SP.DYN.LE00.IN            Life expectancy at birth, total (years)
48     SP.DYN.TFRT.IN           Fertility rate, total (births per woman)
49        SP.POP.GROW                       Population growth (annual %)
50        SP.POP.TOTL                                  Population, total
51        SP.URB.GROW                 Urban population growth (annual %)
52  TG.VAL.TOTL.GD.ZS                       Merchandise trade (% of GDP)
53  TT.PRI.MRCH.XD.WD       Net barter terms of trade index (2000 = 100)
54  TX.VAL.TECH.MF.ZS  High-technology exports (% of manufactured exp...

In [ ]:
palavras = ["Morango", "Banana", "Maça", "Limão", "Abacaxi", "Morango"]
from collections import Counter
contador_palavras = Counter(palavras)
contador_palavras

Counter({'Morango': 2, 'Banana': 1, 'Maça': 1, 'Limão': 1, 'Abacaxi': 1})