<a href="https://colab.research.google.com/github/CarolineAndradeR/Script_Python/blob/master/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [140]:
print("Meu primeiro notebook")

Meu primeiro notebook

In [ ]:
#Biblioteca númerica
!pip install numpy
#Manipulação de dados tabulares (formato de planilhas)
!pip install pandas
#Cálculos estatísticos e científicos  (modelos)
!pip install statsmodels
#Aprendizagens de máquinas (marchine laerning)
!pip install sklearn
#! exculta como se estivesse no terminal
#Ideal que as bibliotecas estejam sempre no início, para melhor controle.

#Interação com o google (usada para traduzir palavras para diversas línguas)
!pip install googletrans==4.0.0-rc1

In [ ]:
#Iniciando montagem do drive
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import pandas as pd

arq_dados_paises = '/content/drive/MyDrive/dados_paises.csv'
#Read - leitura de arquivo
df_dados_pais = pd.read_csv(arq_dados_paises)
#Head - retorno a leitura primeiras linhas do data freme (por padrão retorna as 5 primeiras)
df_dados_pais.head(2)
#Tail - retorna as últimas linhas do data freme 
#df_dados_pais.tail(10)
#Quando está apenas o nome do objeto retorna os 5 primeiro e os 5 últimos
#df_dados_pais

In [ ]:
#Colunas do DataFrame

print("Tipo: ")
#Acessar uma linha e colunas do DataFreme
print(type(df_dados_pais.loc[0]))
print("Dados: ")
df_dados_pais.loc[0]
#Acessar diretamente uma coluna, retorno o tipo dos dados dentro daquele objeto
df_dados_pais["Series Code"]

In [ ]:
#Criar uma cópia do DataFreme, importe para tratamento dos dados
df_copia_dados_pais = df_dados_pais.copy()
#Para validar se é uma cópia de arquivo ou é uma referencia de objeto (True - referencia False - Copia)
#id(df_copia_dados_pais) == id(df_dados_pais)


#Apagar o DataFreme por completo
#del df_copia_dados_pais

#Apagar uma coluna especifica do DataFreme
#del df_copia_dados_pais["1990 [YR1990]"]

#Apagar um linha especifica passando o loc
#del df_copia_dados_pais.loc[3]

#Retorna novamente o DataFreme
df_copia_dados_pais

In [ ]:
#Recorte do DataFreme
#df_descricao_campos = df_dados_pais[['Series Name', 'Series Code']]

#Criar uma copia do recorte
df_descricao_campos = df_dados_pais[['Series Code', 'Series Name']].copy()

#Ordena o objeto somente no momento da excução (não foi gravado dentro de nada, não é permanente)
#df_descricao_campos.sort_values(by='Series Code')

#Ordena de forma permante com base na coluna
df_descricao_campos.sort_values(by='Series Code', inplace=True)

#Apagar dados duplicados
df_descricao_campos.drop_duplicates()

In [ ]:
#Comando encadeado (quando se tem mais de um comando na mesma linha de código)
#Comando RESET reordena o valores do index com base na ordenação das colunas
df_descricao_campos = df_descricao_campos.drop_duplicates().reset_index().sort_values(by='Series Code')

#Toda vez que é usado o Resert Index no mesmo objeto cria uma coluna nova, para não ficar varias colunas repetidas toda vez que excutar o comando
#é necessario apagar o primeiro que foi feito.
#del df_descricao_campos['index']
#del df_descricao_campos['level_0']


df_descricao_campos

In [ ]:
#Apaga as referencias com NaN, porem não é de forma permanete
#df_descricao_campos.dropna()

#Só apaga de forma permanete se for passado uma referência
#A referência pode ser a mesma, dar a referência o valor dela mesma
#df_descricao_campos = df_descricao_campos.dropna()

#Ou usar o Inplace para dizer que a alteração vai ocorrer dentro dela mesma
df_descricao_campos.dropna(inplace=True)

df_descricao_campos

**Estatísticas Descritivas** - 
Introdução

In [ ]:
df_dados_pais.count()
#Conhecer os dados estão organizados
#Country Name com duas linhas á mais, possivelmente NaN

In [ ]:
#Procurar sempre deixar os dados alinhados
#Removendo NaN
#Ideal no count e que todas as colunas tenham a mesma quantidade
df_dados_pais.dropna().count()

In [ ]:
#Organização dos dados
df_dados_pais.dropna(inplace=True)
del df_dados_pais['Series Name']
del df_dados_pais['Country Code']
df_dados_pais.head()

In [ ]:
#Leitura do valor do PIB
print(df_descricao_campos.loc[26])

In [ ]:
#Verificação se tem nomes vazios
#Se retorna False não tem nunhum nulo
pd.isnull(df_descricao_campos.loc[0])

In [ ]:
from ast import arg
from pandas.core import apply
#Trazendo um aplicação específica
from googletrans import Translator

translator = Translator()
#Aplicação encadeada
#Transforma o texto de Inglês para Português
#Recebe ela mesma, aplica metódo translerto, passa a língua de origem e qual vai ser a de destino, indicação do atibuto
#Apply - Aplica na coluna indica o determinado metódo
#quando não informado o src ele detecta o idioma
df_descricao_campos['Series Name'] = df_descricao_campos['Series Name'].apply(translator.translate, src='en', dest='pt').apply(getattr, args=('text',))

df_descricao_campos

In [197]:
#Buscado com base nas infirmações, filtrando dados
#df_descricao_campos[ df_descricao_campos['Series Code'] == 'NY.GDP.MKTP.CD']

#Filtrado com base em textos
df_descricao_campos[ df_descricao_campos['Series Code'].str.contains('GDP')]

    index        Series Code                         Series Name
25    198  NY.GDP.DEFL.KD.ZG  Inflation, GDP deflator (% annual)
26     86     NY.GDP.MKTP.CD                  GDP (US $ current)
27     32  NY.GDP.MKTP.KD.ZG               GDP growth (% annual)

In [ ]:
#Filtrar os dados e fazer uma copia
df_dados_brasil = df_dados_pais[df_dados_pais['Country Name'] == 'Brazil'].copy()

#Filtrar colunas combinadas
#Transforma linhas em colunas com .T
df_dados_brasil_2020 = df_dados_brasil[['Country Name', 'Series Code', '2020 [YR2020]']]

df_dados_brasil_2020[['Series Code', '2020 [YR2020]']].T

In [ ]:
#Tranformando colunas em linhas (colunar)
#Alteração dos nome
df_dados_pais_consolidado = pd.melt(df_dados_pais, id_vars=['Country Name', 'Series Code'], var_name="Ano", value_name="Valor")
df_dados_pais_consolidado

In [209]:
from posixpath import split
#A coluna ano vai ser dividida pelo espaço em branco (função)
df_dados_pais_consolidado['Ano'] = df_dados_pais_consolidado["Ano"].apply(lambda x: x.split(' ')[0])
#Indicação dos novos names
df_dados_pais_consolidado.columns=['Pais', 'Serie', 'Ano', 'Valor']
df_dados_pais_consolidado

        Pais              Serie   Ano             Valor
0     Brazil        SP.POP.TOTL  1990         149003225
1     Brazil        SP.POP.GROW  1990  1.81151883766468
2     Brazil     AG.SRF.TOTL.K2  1990           8515770
3     Brazil        EN.POP.DNST  1990  17.8273186378788
4     Brazil        SI.POV.NAHC  1990                ..
...      ...                ...   ...               ...
3295  Canada  DT.TDS.DECT.EX.ZS  2020                ..
3296  Canada        SM.POP.NETM  2020                ..
3297  Canada  BX.TRF.PWKR.CD.DT  2020  851834668.651595
3298  Canada  BX.KLT.DINV.CD.WD  2020                ..
3299  Canada     DT.ODA.ALLD.CD  2020                ..

[3300 rows x 4 columns]